
.title{
    -fx-translate-x: -20;
	-fx-pref-width: 20.0;
}

.accordion .titled-pane {
	-fx-pref-height: 150.0;
}

 .titled-pane .title{
    -fx-background-color: #020529 ;
}

.accordion .title > .arrow-button .arrow{
    -fx-translate-x: 180;
	-fx-translate-y: -2;
}